{% if user.is_authenticated %}
Logged in as {{ user.username }}

<a href="{% url 'create_todo' %}">Create</a>
<a href="{% url 'current_todos' %}">Current Todos</a>
<a href="{% url 'completed_todos' %}">Completed</a>

<form action="{% url 'logout_user' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

{% else %}
<a href="{% url 'signup_user' %}">Sign Up</a>
<a href="{% url 'login_user' %}">Login</a>

{% endif %}

<br>
<br>
{% block content %}{% endblock %}