{% extends 'todo/base.html' %}


{% block content %}
Completed Todos
<ul>
    {% for todo in todos %}

    <li>
        <a href="{% url 'get_todo' todo.id  %}">
            {% if todo.important %}
            <b>{{ todo.title }}</b>
            {% else %}
            {{ todo.title }}
            {% endif %}

            {% if todo.description%}
            - {{ todo.description }}
            {% endif %}
            {{ todo.achieve_date|date:'M j Y H:i' }}
        </a>
    </li>

    {% endfor %}
</ul>

{% endblock %}